

<%= form_tag recover_password_path, :method => 'post' do %>
     
  <div class="field">
    <%= label :username %><br>
    <%= text_field :username %>
  </div>
  <div class="field">
    <%= label :email %><br>
    <%= email_field :email %>
  </div>

    <div class="actions">
      <%= submit %>
  	</div>

<% end %>